.dub
docs.json
__dummy.html
docs/
opencvd.so
opencvd.dylib
opencvd.dll
opencvd.a
opencvd.lib
opencvd-test-*
*.exe
*.o
*.obj
*.lst
*.a
*.lib
*.pdb
*.s
*.geany
.idea/
classes/
test_data/
opencv_d.iml
c/build/*
